.box {
    width: 5rem;
    height: 5rem;
    border: 1px solid gray;
        text-align: center;
        font-size: 2rem;
}


.table {
    margin: 0 auto;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.yellow {
    background-color: yellow;
}